<h1>All users posts</h1>

<% @users.each do |user| %>
  <h1>Username: <%= link_to user.user_name, user_path(user) %> </h1>
  <h2>Full name: <%= user.first_name %> <%= user.last_name %></h2>
  <p>Birthday: <%= user.birthday %></p>   
  <p>Email: <%= user.email%></p>
  <hr>  
<% end %>



